.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-vh-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-jc-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
.flex-jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-jc-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex-jc-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
.align-self-start {
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.align-self-end {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.flex-wrapp-wr {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.hamburger-wr {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 11;
}
.hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.hamburger.active .bar {
  border: none;
}
.hamburger.active .bar1 {
  transform: translateX(40px);
  background-color: transparent;
}
.hamburger.active .bar2 {
  transform: rotate(45deg);
}
.hamburger.active .bar3 {
  transform: rotate(-45deg);
}
.hamburger.active .bar4 {
  transform: translateX(-40px);
  background-color: transparent;
}
.bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  border-left: 3px solid #d1e8fd;
  border-right: 3px solid #d1e8fd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}
.bar1 {
  top: 0;
}
.bar2,
.bar3 {
  top: 13.5px;
}
.bar3 {
  right: 0;
}
.bar4 {
  bottom: 0;
}
.NunitoSans {
  font-family: 'Nunito Sans', sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a,
div {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #676c75;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
button::-moz-focus-inner,
a::-moz-focus-inner {
  border: 0;
}
button:focus,
a:focus,
button.active,
a.active {
  outline: none;
}
.bg-center-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* _________________________________________ [ DESCTOP ] __________________________________ */
body.menu-active {
  overflow: hidden;
}
.mobile-menu-wrapper {
  display: none;
}
.hamburger-wr {
  display: none;
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}
.columns-wr {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.column-left {
  width: 50%;
}
.column-right {
  width: 50%;
  text-align: center;
}
.button {
  border-radius: 6px;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(40, 43, 49, 0.08);
  box-shadow: 0px 6px 12px 0px rgba(40, 43, 49, 0.08);
  width: 132px;
  height: 40px;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
.button.white {
  background-color: #ffffff;
  color: #010101;
}
.button.orange {
  color: #ffffff;
  background-image: -moz-linear-gradient(-45deg, #ff8e64 0%, #ffe641 100%);
  background-image: -webkit-linear-gradient(-45deg, #ff8e64 0%, #ffe641 100%);
  background-image: -ms-linear-gradient(-45deg, #ff8e64 0%, #ffe641 100%);
}
.button.green {
  background-image: -moz-linear-gradient(-45deg, #009fc5 0%, #3cecb0 100%);
  background-image: -webkit-linear-gradient(-45deg, #009fc5 0%, #3cecb0 100%);
  background-image: -ms-linear-gradient(-45deg, #009fc5 0%, #3cecb0 100%);
}
.title {
  font-size: 35px;
  font-family: "NunitoSans";
  color: #ffffff;
  font-weight: bold;
}
.title span {
  font-weight: 300;
}
.img-tablet {
  width: 480px;
  height: 718px;
}
.mobile-menu-wrapper {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  user-select: none;
}
.mobile-menu-wrapper .mobile-menu {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.mobile-menu-wrapper .mobile-menu > ul {
  width: 100%;
}
.mobile-menu-wrapper .mobile-menu > ul > li {
  display: inline-block;
  width: 100%;
  -webkit-transition: transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
  opacity: 0;
  outline: none;
}
.mobile-menu-wrapper .mobile-menu > ul > li:nth-child(odd) {
  -webkit-transform: translate(-200vw, 0);
  -moz-transform: translate(-200vw, 0);
  -o-transform: translate(-200vw, 0);
  -ms-transform: translate(-200vw, 0);
  transform: translate(-200vw, 0);
}
.mobile-menu-wrapper .mobile-menu > ul > li:nth-child(even) {
  -webkit-transform: translate(200vw, 0);
  -moz-transform: translate(200vw, 0);
  -o-transform: translate(200vw, 0);
  -ms-transform: translate(200vw, 0);
  transform: translate(200vw, 0);
}
.mobile-menu-wrapper .mobile-menu > ul > li:focus {
  outline: none;
}
.mobile-menu-wrapper .mobile-menu > ul > li > a {
  font-size: 40px;
  display: block;
  color: #fff;
  padding: 15px;
  margin: 10px auto;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
.mobile-menu-wrapper .mobile-menu > ul > li > a:focus {
  outline: none;
}
.mobile-menu-wrapper.active {
  opacity: 1;
  visibility: visible;
  height: 100vh;
  width: 100vw;
  background-image: -moz-linear-gradient(-45deg, #7956ec 0%, #2fb9f8 100%);
  background-image: -webkit-linear-gradient(-45deg, #7956ec 0%, #2fb9f8 100%);
  background-image: -ms-linear-gradient(-45deg, #7956ec 0%, #2fb9f8 100%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.mobile-menu-wrapper.active .mobile-menu {
  opacity: 1;
  visibility: visible;
}
.mobile-menu-wrapper.active .mobile-menu > ul > li {
  opacity: 1;
  transform: translateY(0px);
}
.mobile-menu-wrapper.active .mobile-menu > ul > li:nth-child(5) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.mobile-menu-wrapper.active .mobile-menu > ul > li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.mobile-menu-wrapper.active .mobile-menu > ul > li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.mobile-menu-wrapper.active .mobile-menu > ul > li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.mobile-menu-wrapper.active .mobile-menu > ul > li:nth-child(1) {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.mobile-menu-wrapper.active .mobile-menu > ul > li:hover {
  background: #f8f9fa;
}
.mobile-menu-wrapper.active .mobile-menu > ul > li:hover > a {
  color: #000;
}
.header-tablet {
  height: 720px;
  background-image: url('../img/Background.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.header-tablet .columns-wr {
  text-align: left;
}
.header-tablet .column-left {
  margin-bottom: 100px;
}
.header-tablet .column-left .title {
  margin: 40px 0;
}
.header-tablet .column-right {
  margin-bottom: -130px;
}
.header-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0;
  position: relative;
}
.logo > p {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.desctop-menu ul > li {
  display: inline-block;
  padding: 0 20px;
}
.desctop-menu ul > li > a {
  color: #fff;
  font-size: 15px;
}
.desctop-menu .button.white {
  text-transform: uppercase;
  width: 132px;
  height: 40px;
}
.app-icon img {
  width: 90px;
  height: 90px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(40, 43, 49, 0.08);
  box-shadow: 0px 6px 12px 0px rgba(40, 43, 49, 0.08);
}
.buttons-wr .button.orange {
  width: 170px;
  height: 50px;
  margin-right: 20px;
}
.buttons-wr .button.white {
  width: 145px;
  height: 50px;
}
.features {
  background-color: #f8f9fa;
}
.features-wr {
  padding-top: 230px;
  padding-bottom: 100px;
  text-align: center;
}
.features-wr > .title {
  color: #000;
  margin: 50px 0;
}
.cards-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.card {
  width: 370px;
  height: 380px;
  padding: 30px 0;
  border-radius: 12px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(32, 33, 39, 0.12);
  box-shadow: 0px 1px 3px 0px rgba(32, 33, 39, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card-icon {
  height: 70px;
}
.card-icon img {
  width: 70px;
  height: 70px;
}
.card-title .title {
  color: #000;
  margin: 35px 0 20px 0;
  font-size: 20px;
}
.card-content p {
  padding: 0 30px;
}
.card-link {
  margin: 20px 0;
}
.card-link a {
  color: #469af4;
  text-decoration: underline;
}
.press {
  height: 180px;
  border: 1px solid #e7e8ea;
}
.press-wr {
  height: 100%;
  padding: 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.highlights_1 {
  background-color: #f8f9fa;
  padding: 120px 0;
}
.tab {
  width: 470px;
  height: 160px;
  margin: 0 auto;
}
.tab:hover {
  border-radius: 12px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(32, 33, 39, 0.08);
  box-shadow: 0px 6px 12px 0px rgba(32, 33, 39, 0.08);
  cursor: pointer;
}
.tab-content {
  padding: 35px 35px 35px 75px;
}
.tab-content .title {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
}
.tab-content .title::before {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: -40px;
}
.highlights-tablet {
  position: relative;
}
.highlights-tablet img {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.highlights-tablet img.active {
  opacity: 1;
  visibility: visible;
  position: relative;
  z-index: 1;
}
#i-reload::before {
  background-image: url('../icons/reload.png');
}
#i-inbox::before {
  background-image: url('../icons/inbox.png');
}
#i-clock::before {
  background-image: url('../icons/clock.png');
}
.getting-started {
  height: 280px;
  background-image: url('../img/Background.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.content-wr p {
  margin-top: 35px;
  font-size: 16px;
  color: #fff;
}
.highlights_2 {
  background-color: #f8f9fa;
}
.highlights_2-content-wr {
  padding: 125px 0;
}
.highlights_2-content-wr .columns-wr {
  -webkit-box-shadow: 0px 6px 12px 0px rgba(32, 33, 39, 0.08);
  box-shadow: 0px 6px 12px 0px rgba(32, 33, 39, 0.08);
}
.col-wr-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 613px;
}
.block.block-bg {
  background-image: url('../img/Background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image-block-wr {
  width: 100%;
  height: 100%;
  margin-bottom: -218px;
}
.block-img {
  width: 415px;
  height: 620px;
}
.text-block-wr {
  padding: 0 100px;
}
.text-block-wr .title {
  color: #000;
  padding-bottom: 30px;
}
.text-block-wr p {
  font-size: 16px;
}
.video-tour {
  height: 520px;
  background-image: url('../img/BG-video-tour.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.video-tour-overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -moz-linear-gradient(-45deg, #7956ec 0%, #2fb9f8 100%);
  background-image: -webkit-linear-gradient(-45deg, #7956ec 0%, #2fb9f8 100%);
  background-image: -ms-linear-gradient(-45deg, #7956ec 0%, #2fb9f8 100%);
  opacity: 0.9;
}
.video-tour-content-wr {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
}
.video-tour-content-wr p {
  color: #fff;
  font-size: 16px;
  padding: 40px 0;
}
.play-btn {
  background-image: url('../icons/Play_button.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 134px;
  height: 134px;
}
.play-btn:focus {
  outline: none;
}
.testimonials {
  height: 800px;
  position: relative;
}
.testimonials .wrapper {
  position: relative;
  z-index: 1;
}
.customers-main-wr {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.customers-left {
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.custumers-right {
  height: 100%;
  width: 60%;
}
.block-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50%;
}
.block-customers .title {
  color: #000;
}
.block-customers p {
  font-weight: 900;
  font-size: 15px;
  margin-bottom: 35px;
  color: #999ea8;
}
.block-customers.mobile {
  display: none;
}
.links li {
  margin-bottom: 10px;
}
.links a {
  font-size: 15px;
  color: #282b31;
  font-weight: 900;
  margin-left: 50px;
  position: relative;
}
.links a::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../icons/arrow-right.png');
  top: 6px;
  left: -35px;
}
.stars {
  width: 88px;
  height: 15px;
  margin-bottom: 60px;
}
.bg-absolut {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.bg-relative {
  position: relative;
  width: 100%;
  height: 100%;
}
.bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 39%;
  height: 100%;
  background-color: #fff;
}
.bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 61%;
  height: 100%;
  background-color: #f8f9fa;
  border-left: 1px solid #e7e8ea;
}
.reviews-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.review {
  width: 570px;
  height: 180px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 6px 12px 0px rgba(32, 33, 39, 0.08);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}
.review:nth-child(odd) .review-comment p {
  text-align: left;
  padding-left: 30px;
}
.review:nth-child(even) {
  margin: 20px 0 20px 100px;
}
.review:nth-child(even) .review-avatar-wr {
  order: 2;
}
.review:nth-child(even) .user-name {
  order: 2;
}
.review:nth-child(even) .review-comment p {
  text-align: right;
  padding-right: 30px;
}
.review-inner-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.review-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 70%;
  border-bottom: 1px solid #e7e8ea;
  padding-bottom: 20px;
}
.review-bottom {
  width: 100%;
  height: 30%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.review-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.review-comment p {
  font-size: 14px;
  color: #282b31;
  font-style: italic;
}
.user-name {
  font-size: 12px;
  color: #999ea8;
  font-weight: 900;
}
.user-name span {
  font-weight: 100;
}
.link-icon {
  width: 16px;
  height: 13px;
}
.pricing-table {
  height: 754px;
  background-color: #f8f9fa;
  border-top: 1px solid #e7e8ea;
}
.price-col-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.price-left-col {
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
.price-right-col {
  height: 100%;
  width: 60%;
}
.price-left-content .title {
  color: #000;
}
.price-left-content p {
  font-size: 16px;
  color: #676c75;
  text-align: left;
  margin-top: 40px;
}
.plans-wr {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card.proff-card {
  background-image: url('../img/Background.png');
  width: 350px;
  height: 510px;
  border-radius: 12px;
  box-shadow: 0px 6px 12px 0px rgba(40, 43, 49, 0.08);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card.starter-card {
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(32, 33, 39, 0.12);
  width: 335px;
  height: 470px;
}
.card .button {
  margin-bottom: 50px;
}
.card .button.orange,
.card .button.green {
  width: 70%;
  height: 50px;
}
.plan-line {
  padding: 10px 0;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
.plan-line h5 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 11px;
}
.plan-line.proff {
  background-color: rgba(248, 249, 250, 0.071);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}
.plan-line.proff h5 {
  color: #ffffff;
}
.plan-line.starter {
  background-color: #f8f9fa;
  box-shadow: 0px 1px 0px 0px rgba(231, 232, 234, 0.004), inset 0px 1px 0px 0px rgba(231, 232, 234, 0.004);
  border-top: 1px solid #e7e8ea;
  border-bottom: 1px solid #e7e8ea;
}
.plan-line.starter h5 {
  color: #676c75;
}
.plan-title {
  margin: 35px 0;
}
.plan-title.proff {
  font-size: 60px;
  color: #ffffff;
  text-align: center;
}
.plan-title.starter {
  font-size: 40px;
  color: #282b31;
}
.plan-list {
  margin-bottom: 20px;
}
.plan-list li {
  padding-bottom: 10px;
}
.plan-list.proff li {
  list-style-image: url('../icons/success-icon-white.png');
}
.plan-list.starter li {
  font-size: 15px;
  color: #676c75;
  list-style-image: url('../icons/success-icon-grey.png');
}
.plan-list li {
  font-size: 15px;
  color: #ffffff;
  text-align: left;
  position: relative;
}
.contact {
  height: 920px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/Background.png');
}
.contact-inner-wr {
  height: 100%;
  width: 100%;
  text-align: center;
}
.contact-text .title {
  padding-top: 120px;
}
.contact-text p {
  margin: 30px 0 70px 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}
.form-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 12px 24px 0px rgba(40, 43, 49, 0.16);
  width: 770px;
  height: 500px;
}
.form-inner input::placeholder,
.form-inner textarea::placeholder {
  font-size: 17px;
  color: #b9bdc3;
  text-align: left;
}
.form-inner .button.orange {
  width: 164px;
  height: 50px;
  margin-top: 30px;
}
.inputs-wr {
  margin-bottom: 20px;
}
.inputs-wr input {
  font-size: 17px;
  color: #b9bdc3;
  text-align: left;
  border: 1px solid #e7e8ea;
  border-radius: 6px;
  background-color: #f8f9fa;
  width: 280px;
  height: 50px;
  border-width: 1px;
  outline: none;
  padding-left: 20px;
  /* move placeholder right on focus*/
}
.inputs-wr input.focus {
  outline: none;
}
.inputs-wr input::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.5s ease;
}
.inputs-wr input::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.5s ease;
}
.inputs-wr input:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.5s ease;
}
.inputs-wr input:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.5s ease;
}
.inputs-wr input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.5s ease;
}
.inputs-wr input:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.5s ease;
}
.inputs-wr input:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.5s ease;
}
.inputs-wr input:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.5s ease;
}
#message {
  resize: none;
  border-style: solid;
  border-width: 1px;
  border-color: #e7e8ea;
  border-radius: 6px;
  background-color: #f8f9fa;
  width: 604px;
  height: 215px;
  outline: none;
  padding-left: 20px;
  padding-top: 30px;
  font-size: 17px;
  color: #b9bdc3;
  text-align: left;
}
#message.focus {
  outline: none;
}
#name {
  margin-right: 20px;
}
.footer {
  background-color: #ffffff;
  height: 114px;
}
.footer-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
.footer-inner h5 {
  font-size: 20px;
  color: #282b31;
  font-weight: bold;
}
.creator-wr {
  text-align: center;
}
.creator-block p {
  font-size: 11px;
  color: #999ea8;
}
.creator-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.creator-inner p {
  font-size: 11px;
  color: rgba(153, 158, 168, 0.8);
}
.creator-inner h6 {
  font-size: 11px;
  color: #282b31;
  font-weight: bold;
  margin-left: 5px;
}
.heart-icon {
  width: 12px;
  height: 11px;
  margin: 0 5px;
}
.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.foot-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 44px;
  height: 44px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e7e8ea;
}
#twitter {
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#insta {
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* __________________________________________ [ MEDIA ] __________________________________ */
@media (max-width: 1440px) {
  .wrapper {
    max-width: 1000px;
  }
  .card {
    width: 320px;
    padding: 0;
  }
  .press-wr {
    padding: 0 10%;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    max-width: 930px;
  }
  .cards-wr {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .card {
    margin-top: 60px;
  }
  .review {
    width: 470px;
  }
  .review:nth-child(even) {
    margin: 20px 0 20px 50px;
  }
  .img-tablet {
    width: 380px;
    height: 618px;
  }
}
@media (max-width: 1024px) {
  .review {
    width: 370px;
  }
  .reviews-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
}
@media (max-width: 960px) {
  .wrapper {
    max-width: 780px;
  }
  .highlights_1 {
    padding: 80px 0;
  }
  .header-tablet {
    height: 100%;
  }
  .header-tablet .column-left {
    text-align: center;
    margin-top: 100px;
  }
  .columns-wr,
  .cards-wr,
  .press-wr,
  .customers-main-wr,
  .price-col-wr,
  .plans-wr,
  .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .highlights_2-content-wr .block {
    order: 2;
  }
  .highlights_2-content-wr .block.block-bg {
    order: 1;
  }
  .highlights_2-content-wr .block .title {
    max-width: 400px;
  }
  .img-tablet {
    width: 480px;
    height: 718px;
  }
  .image-block-wr {
    margin-bottom: -20%;
  }
  .columns-wr {
    text-align: center;
  }
  .column-left {
    width: 100%;
  }
  .column-right {
    width: 100%;
  }
  .content-wr p {
    margin-bottom: 35px;
    padding: 0 30px;
  }
  .text-block-wr {
    padding: 0;
  }
  .cards-wr {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
  .card {
    width: 350px;
    height: 380px;
    padding: 30px 0;
  }
  .card.starter-card {
    margin: 50px 0 100px 0;
  }
  .plans-wr .card.proff-card {
    margin: 0;
  }
  .press-wr {
    padding: 30px 0px;
  }
  .press {
    height: 100%;
  }
  .sponsor {
    margin: 20px 0;
  }
  .getting-started {
    height: 100%;
  }
  .getting-started .columns-wr {
    padding: 50px 0;
  }
  .testimonials {
    height: 100%;
  }
  .testimonials .wrapper {
    max-width: 100%;
  }
  .bg-absolut {
    display: none;
  }
  .customers-left {
    width: 100%;
    height: 100%;
  }
  .custumers-right {
    width: 100%;
    height: 100%;
  }
  .tab-content {
    text-align: left;
  }
  .features-wr {
    padding-top: 150px;
  }
  .tab {
    margin: 30px auto;
  }
  .block-customers {
    text-align: center;
    margin: 50px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
  .block-customers.desctop {
    display: none;
  }
  .block-customers.mobile {
    height: 100px;
    background-color: #fff;
    display: block;
  }
  .price-left-col,
  .price-right-col {
    width: 100%;
  }
  .price-left-content {
    width: 100%;
    text-align: center;
    margin: 50px 0;
  }
  .price-left-content p {
    text-align: center;
  }
  .review {
    width: 80%;
  }
  .reviews-wrapper {
    height: 65%;
    padding: 50px 0;
    border-top: 1px solid #e7e8ea;
    border-bottom: 1px solid #e7e8ea;
  }
  .form-wr {
    padding: 0 30px;
  }
  .form-inner .button.orange {
    margin-bottom: 50px;
  }
  .inputs-wr {
    width: 100%;
  }
  #message {
    width: 80%;
  }
  #name {
    width: 80%;
    margin: 50px 0 20px 0;
  }
  #e-mail {
    width: 80%;
  }
  .starter-card {
    width: 350px;
  }
  .footer {
    height: 200px;
  }
  .pricing-table {
    height: 100%;
  }
  .footer-inner h5 {
    margin-top: 20px;
  }
  .creator-wr {
    text-align: center;
    margin: 30px 0;
  }
  .social-footer {
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .desctop-menu {
    display: none;
  }
  .hamburger-wr {
    display: block;
  }
  .header-tablet .title {
    padding: 0 20px;
  }
  .img-tablet {
    height: 80%;
    width: 80%;
  }
  .mobile-menu-wrapper {
    display: block;
  }
  .header-wr {
    overflow: hidden;
  }
  .logo {
    display: none;
  }
  .form-inner {
    width: 590px;
  }
}
@media (max-width: 600px) {
  .block-img {
    width: 315px;
    height: 520px;
  }
  .highlights_2-content-wr {
    margin: 0 20px;
  }
  .form-inner {
    width: 100%;
  }
  .contact-text p {
    padding: 0 10%;
  }
  .contact-text p br {
    display: none;
  }
  .video-tour-content-wr p {
    padding: 40px 10%;
  }
  .video-tour-content-wr p br {
    display: none;
  }
  .block {
    height: 475px;
  }
  .tab {
    width: 90%;
    height: 100%;
  }
  .review {
    height: 100%;
  }
  .bg-right {
    height: 750px;
  }
  .review {
    padding: 10px 30px;
  }
  .review:nth-child(even) {
    margin: 20px 0 20px 0px;
  }
  .price-left-content,
  .text-block-wr {
    padding: 0 20px;
  }
  .price-left-content p br,
  .text-block-wr p br {
    display: none;
  }
}
@media (max-width: 360px) {
  .tab {
    width: 80%;
    height: 180px;
  }
  .tab-content {
    padding: 25px 20px 10px 60px;
  }
  .card {
    width: 80%;
    padding: 0;
  }
  .card.proff-card,
  .card.starter-card {
    width: 80%;
  }
  .bg-right {
    height: 950px;
  }
  .img-tablet {
    height: 538px;
    width: 300px;
  }
  .block-img {
    width: 85%;
  }
  .card {
    width: 85%;
  }
}
@media (max-width: 320px) {
  .buttons-wr .button.orange {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .img-tablet {
    height: 400px;
    width: 280px;
  }
  .card {
    height: 320px;
  }
  .tab {
    height: 220px;
  }
  .block-img {
    height: 350px;
  }
  .block {
    height: 350px;
  }
  .image-block-wr {
    margin-bottom: -50%;
  }
  .form-inner .button.orange {
    margin-bottom: 30px;
  }
  #name {
    margin: 30px 0 20px 0;
  }
}
