.mobile {
  display: none;
}
.mobile .hamburger {
  width: 30px;
  height: 22px;
  padding: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.mobile .hamburger > span {
  position: absolute;
  height: 4px;
  width: 50%;
  background: #b0140e;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.mobile .hamburger > span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
.mobile .hamburger > span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}
.mobile .hamburger > span:nth-child(1) {
  top: 0px;
}
.mobile .hamburger > span:nth-child(2) {
  top: 0px;
}
.mobile .hamburger > span:nth-child(3) {
  top: 10px;
}
.mobile .hamburger > span:nth-child(4) {
  top: 10px;
}
.mobile .hamburger > span:nth-child(5) {
  top: 20px;
}
.mobile .hamburger > span:nth-child(6) {
  top: 20px;
}
.mobile .hamburger.open {
  position: relative;
  z-index: 101;
}
.mobile .hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 5px;
  top: 5px;
}
.mobile .hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: calc(45%);
  top: 14px;
}
.mobile .hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: calc(45%);
  top: 5px;
}
.mobile .hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 5px;
  top: 14px;
}
.mobile .hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.mobile .hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.mobile .hamburger:hover span {
  background: #cf1711;
}
@media (max-width: 768px) {
  .mobile {
    display: block;
  }
}
